[Unit]
Description=Mini-Drop native C++ collector agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/mini-drop/worker.env
ExecStart=/usr/local/bin/mini-drop-native-agent
Restart=always
RestartSec=5
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/var/lib/mini-drop-agent
AmbientCapabilities=CAP_SYS_PTRACE CAP_PERFMON CAP_BPF CAP_SYS_RESOURCE
CapabilityBoundingSet=CAP_SYS_PTRACE CAP_PERFMON CAP_BPF CAP_SYS_RESOURCE

[Install]
WantedBy=multi-user.target
